#main-container{
    position: relative;
    width: 100%;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 187, 0, 0.014);
    background-image: url('../assets/banner1.png');
    background-size: fill;
    background-position: center;
    transition: 0.5s;
    cursor: pointer;
    height: 370px;
}
#left-button, #right-button{
    position: absolute;
    top: 50%;
    height: 60px;
    width: 40px;
    border: none;
    cursor: pointer;
    background-color: rgba(233, 233, 233, 0.842);
    transform: translateY(-50%);
    
}
#left-button{
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#right-button{
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#left-icon, #right-icon{
    font-size: 19px;
}
