@font-face {
    font-family: 'avant-garde';
    src: url('../../fonts/font-file-bold.otf') format('otf');
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../../fonts/DOMINIKTH.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
input::placeholder{
    color: black;
    font-weight: bold;
    opacity: 1; 
}
.NavBar{
    box-sizing: border-box;
    width: 100%;
    margin: 15px auto;
}
.topAndBot{
    display: flex;
    flex-direction: column;
}
.topNavBar{
    width: 100%;
    /* border: 1px solid pink; */
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.firstSegment{
    flex: 1.6;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
}
#flag-chevron{
    display: flex;
    align-items: center;
}
#chevron{
    font-size: 10px;
    margin-left: 8px;
    margin-right: 12px;
}
#flag{
    height: 15px;
}
#feelunique{
    font-size: 30px;
    letter-spacing: 5px;
}
.secondSegment{
    flex: 3.5;
    height: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#search-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#search-icon{
    position: absolute;
    padding-left: 15px;
    z-index: 1;
    font-size: 20px;
}
#main-search-bar{
    box-sizing: border-box;
    position: relative;
    background-color: #F2F2F2;
    border-radius: 25px;
    border: 1px solid lightgray;
    width: 88%;
    height: 40px;
    padding-left: 40px;
    font-size: 14px;
    font-weight: bold;
}
.thirdSegment{
    flex: 0.7;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#user-icon-container{
   
}
#user-icon{
    position: relative;
}
#user-icon-popup{
    z-index: 5;
    position: absolute;
    background-color: rgb(236, 236, 236);
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 135px;
}
#user-icon-popup div:first-of-type{
    font-weight: bold;
    font-size: 12px;
}
#user-icon-popup div{
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
}
#user-icon-popup div:hover{
    color: white;
    background-color: black;
    font-weight: bold;
    cursor: pointer;
}
#user-icon-divider{
    box-sizing: border-box;
    padding: 0;
    border-top: 1px solid rgb(212, 212, 212);
    
    width: 100%;
    
}
.icon{
    font-size: 25px;
}
.icon:hover{
    cursor: pointer;
}
.bottomNavBar{
    box-sizing: border-box;
    width: 100%;
    /* border: 1px solid blue; */
    height: 50px;
    display: flex;
    position: relative;
}
.nav-buttons{
    margin: 0;
    padding: 15px 0 15px 0;
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction:row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

li{
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    /* font-family: 'avant-garde'; */
    font-weight: bold;
    font-size: 15px;
    height: 100%;
}

