h3{
    margin: 0;
    padding: 0;
    font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
}
.searchTab{
    position: absolute;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    top: 100px;
    left: 0;
    width: 100vw;
    border-top: 1px solid rgb(233, 233, 233);
    height: 440px;
    background-color: white;
    z-index: 12;
}
.searchTab-menu li{
    font-weight: 600;
    font-size: 16px;
    margin-top: 5px;
    color: black
}
.searchTab-menu{
    padding-left: 10px;
    width: 60%;
    background-color: white;
    height: 100%;
    margin: 0 auto;
}
.searchTab-close{
    display: flex;
    justify-content: flex-end;
}
#searchTab-close-button{
    font-size: 26px;
}
#searchTab-close-button:hover{
    cursor: pointer;
}
