#second-banner-wrapper{
    width: 100%;
    height: 410px;
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.secondBanners{
    box-sizing: border-box;
    height: 100%;
    width: 48%;
    cursor: pointer;
    background-size:cover;
    background-position: center;
}
#banner2-1{
    background-image: url(../assets/SecondBanner1.PNG);
}
#banner2-2{
    background-image: url(../assets/SecondBanner2.PNG);
}